@import "tailwindcss";

/* Estilos para a scrollbar do seu log de eventos */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* Slate-950 */
}